<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8">
            <h1 class="main-text">Search Results</h1>
            <br>
            {{#each recipes}}
                <div class="row">  
                    <div class="col-sm-12">
                         
                        <a href="/recipes/id/{{id}}"><h3 class="accent">{{title}}</h3></a>
                        <p>{{description}}</p>
                        <button type="button" id="favorite" class="btn favorite" aria-label="Heart" data-id="{{id}}">
                            <i class="fas fa-heart"></i> Add to favorites
                        </button>
                    </div>
                </div>
                {{!-- <br> --}}
                <hr>
            {{/each}}

        </div>
        <div class="col-sm-3 col-md-4 sidebar">
            {{!-- <img class="sidebar-image" src="" alt="sidebar"> --}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
                <div class="card">
                    <a href="/recipes/category/salads"><img class="card-img-top" src="/images/salad.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text accent">Salads</a></p>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                    <a href="/recipes/category/desserts"><img class="card-img-top" src="/images/dessert.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text accent">Desserts</a></p>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                    <a href="/recipes/category/pasta"><img class="card-img-top category-all" src="/images/soup.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text accent">Pasta</a></p>
                    </div>
                </div>
        </div>
        <div class="col-md-3">
                <div class="card">
                    <a href="/recipes/category/appetizers"><img class="card-img-top" src="/images/appetizer.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text accent">Appetizers</a></p>
                    </div>
                </div>
        </div>
    </div>

</div>
