<div class="container">

    {{#each recipes}}
        <div class="row">  
            <div class="col-sm-12 col-md-12">
                <a href="/api/recipes/{{id}}"><h3>{{title}}</h3></a>
                <p>{{description}}</p>
            </div>
        </div>
    {{/each}}

</div>
