<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-8">
            <h1 class="main-text">Search Results</h1>
            <br>
            {{#each recipes}}
                <div class="row">  
                    <div class="col-sm-12">
                         
                        <a href="/recipes/id/{{id}}"><h3 class="accent">{{title}}</h3></a>
                        <p>{{description}}   <button type="button" id="favorite" data-id="{{id}}" class="btn">
                            <span class="glyphicon glyphicon-heart"></span>
                        </button></p>
                    </div>
                </div>
                {{!-- <br> --}}
                <hr>
            {{/each}}

        </div>
        <div class="col-sm-3 col-md-4 sidebar">
            {{!-- <img class="sidebar-image" src="" alt="sidebar"> --}}
        </div>
    </div>

</div>
