.navbar {
    background-color: #fa4e0e;
    margin-bottom: 15px;
}

.nav-text{
    color: white;
    /* font-style: italic; */
    padding: 15px;
}

h1, h3 {
    font-family: 'Playfair Display', serif;
    color:  #fa4e0e;

}

.accent, .accent a {
    font-family: 'Playfair Display', serif;
    color:  #fa4e0e;
    font-size: 24px;
}

.main-text {
    font-size: 60px;
    font-style: italic;
}

/* .redtext {
    color: #fa4e0e;
} */

.btn {
    background-color: #e3d960
}

.welcome {
    /* background-color: #f5f1ba; */
    /* height: 550px; */
    margin-right: 0;
}

  .header-image {
    position: relative;
    /* height: 550px; */
    overflow: hidden;
  }

 .card-img-top {
    width:100%;
    height:auto;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }

  input {
      margin-bottom: 8px;
  }

  ul {
      float: right;
  }

  .sidebar {
      background-image: url("../images/sidebar-01.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      /* overflow: hidden; */
      min-height: 900px;
      width: 100%;
  }